
#title {
    color:aqua;
    font-size: 40px;
    margin-left: auto;
    margin-right: auto;
    width:6em;
    background-color: black;
}

.subtitle {
   margin-left: auto;
   margin-right: auto;
   width:10em;
}

p {
    font-size:16px;
}







.row {
    float:left;
    margin-right:5px;

  }
  
  .column {
    flex: 50%;
    padding: 10px;
  }

.pic {
    width:400px;
    height:400px;
}