
#title {
    color:aqua;
    font-size: 40px;
    margin-left: auto;
    margin-right: auto;
    width:6em;
    background-color: black;
}

.subtitle {
   margin-left: auto;
   margin-right: auto;
   width:10em;
}

p {
    font-size:16px;
}

.pic {
    width:400px;
    height:400px;
}

#zhongli {
    padding:100px;
    width:300px;
    height:300px;

}